@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", Georgia, "Times New Roman", Times, serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* STYLING THE OVERALL APPEARANCE OF THE PAGE */

body {
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}

.body {
  margin: 0 auto;
  max-width: 80vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

header {
  grid-area: 1/2/2/3;
  background-color: white;
}

.header {
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.sidebar {
  grid-area: 1/1/3/2;
  background-color: #00a7e1;
}

main {
  grid-area: 2/2/3/3;
  background-color: #ecf2f5;
}

button:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}

/* STYLING THE HEADER SECTION */

.first-line {
  display: flex;
  flex-wrap: wrap;
  height: 40%;
  width: 100%;
}

img {
  display: inline;
  width: 2rem;
  height: 5rem;
}

btn {
  border: none;
  background: none;
}
.search-btn {
  margin-left: 5rem;
  border: none;
  background: none;
}

.profile-pic {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #00a9e1ce;
  margin-top: 1rem;
}

input {
  position: relative;
  bottom: 2rem;
  height: 3.5vh;
  width: 25vw;
  border-radius: 3em;
  background-color: rgb(236, 242, 243);
  border: none;
  margin-right: 8rem;
  margin-left: 1vw;
  font-size: 1.3rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

input:focus {
  border: none;
  outline: 1px solid #00a7e1;
}

.bell-btn {
  margin-right: 3rem;
  margin-left: 4rem;
  border: none;
  background: none;
}

.profile-name {
  margin: 2rem 0 0 3rem;
  font-size: 1.5rem;
  font-weight: bold;
}

/* STYLING SECOND LINE OF HEADER */

.second-line {
  display: flex;
}

.profile-pic-main {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: #00a9e1ce;
  margin-left: 5rem;
}

.profile-name-greeting {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 0.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.name {
  font-size: 1.8rem;
}

.new,
.upload,
.share {
  width: 6rem;
  height: 3rem;
  font-size: 1.1rem;
  margin-left: 3rem;
  margin-top: 2rem;
  border-radius: 3rem;
  background-color: #00a7e1;
  color: white;
  font-weight: bold;
  border: none;
}

.new {
  margin-left: 14rem;
}

/* STYLING THE SIDEBAR */

.sidebar-content {
  display: grid;
}

.sidebar-content > button {
  border: none;
  background: none;
  height: 3rem;
  color: white;
}

.dashboard {
  margin-top: 1rem;
  text-align: center;
}

.dashboard-text {
  font-weight: bold;
  font-size: 2rem;
  position: relative;
  bottom: 1rem;
  right: 1rem;
}

.home {
  margin-top: 3rem;
}

svg {
  width: 2rem;
  fill: white;
}
.dashboard-svg {
  width: 3.5rem;
}

.sidebar-content button:not(:first-child) {
  padding-right: 8rem;
  font-size: 1.3rem;
  font-weight: bold;
}

button span {
  padding-left: 1rem;
  position: relative;
  bottom: 0.5rem;
}

.home-text {
  position: relative;
  left: 3px;
}
.profile {
  padding-left: 1rem;
}

.history {
  position: relative;
  left: 8px;
}

.history-text {
  position: relative;
  left: 2px;
}

.tasks {
  position: relative;
  left: 4px;
}

.communities {
  position: relative;
  left: 2.4rem;
}

.settings {
  margin-top: 3rem;
  margin-left: 1.5rem;
}

.settings-text,
.support-text,
.privacy-text {
  position: relative;
  left: 5px;
}

.messages {
  position: relative;
  left: 1.5rem;
}

.support,
.privacy {
  margin-left: 1.5rem;
}

/* STYLING THE MAIN AREA */

main {
  display: grid;
  height: 79vh;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.projects {
  grid-area: 1/1/3/2;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.project-1-area {
  margin-top: 1rem;
  margin-left: 1rem;
}
.project-1 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 50fr;
  grid-template-rows: 3fr 1fr;
  padding: 1rem;
}

.badge {
  background-color: rgb(240, 182, 76);
  grid-area: 1/1/3/2;
  border-radius: 9px 0 0 9px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.content-1 {
  grid-area: 1/2/2/3;
  background-color: white;
  line-height: 1.2rem;
  border-radius: 0 9px 0 0;
  padding-left: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.icons {
  background-color: white;
  border-radius: 0 0 9px 0;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  padding-right: 1rem;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.projects svg {
  fill: black;
  width: 2rem;
  height: 2rem;
}

.project-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.project-brief {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.1rem;
  line-height: 1.3rem;
}

.projects-heading,
.announcement-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.project-1-area:nth-child(2) {
  position: relative;
  top: 1.7rem;
}

/* STYLING THE ANNOUNCEMENTS SECTION  */

.announcements {
  display: grid;
  grid-template-rows: 0.9fr 5fr;
}

.announcement-title {
  padding-top: 1rem;
}

.announcement-content {
  background-color: white;
  display: grid;
  padding: 1rem;
  font-size: 13px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 9px;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 1rem;
}

.announcement-sub-title {
  font-weight: bold;
  font-size: 15px;
}

.content {
  color: rgba(0, 0, 0, 0.6);
}

hr {
  position: relative;
  top: 0.5rem;
}

.trending {
  height: 10vh;
  margin-right: 5px;
}

h3 {
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 5px;
}

.trend-items {
  background-color: white;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.trend-info {
  display: flex;
  flex-direction: column;
}
.item {
  display: flex;
  margin-top: 1.1rem;
}

.trend-items img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.topic {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.7);
}

h6 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.9rem;
}
